
<%- include('includes/start.ejs') %>
<%- include('includes/head.ejs') %>
  
  </head>
  <body>
<%- include('includes/navigation-menu.ejs') %>
<h1>
  Page not found
</h1>

<%- include('includes/footer.ejs') %>
<%- include('includes/end.ejs') %>