
<%- include('includes/start.ejs') %>
<%- include('includes/head.ejs') %>
  </head>
  <body>
<%- include('includes/navigation-menu.ejs') %>
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <form action="/accounts/signin" method="post" class="form-signin">
              <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
              <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
              <label for="email" class="sr-only">Email address</label>
              <p>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
              </p>
              <label for="password" class="sr-only">Password</label>
              <p>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
              </p>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </main>

<%- include('includes/footer.ejs') %>
<%- include('includes/end.ejs') %>